CODIGO/Warlock Soft/Warlock Soft/Service References/WS/WS_servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS_Warlock_Soft/" targetNamespace="http://WS_Warlock_Soft/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="pasword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>